# Secrets
.env

# Git metadata
.git
.gitignore

# GitHub Actions workflows
.github

# Local virtualenv
.venv/

# Python bytecode
__pycache__/
*.pyc

# Pytest artifacts
.pytest_cache/
.coverage*
htmlcov/

# Editor config
.vscode/

